@import "tailwindcss";

@font-face {
    font-family: 'loading-font';
    src: url('/fonts/loading.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}
.loading-font {
    font-family: 'loading-font', serif;
}


::-webkit-scrollbar {
  width: 6px;
  background: none; 
}

::-webkit-scrollbar-track {
  background: none; 
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


html {
  scrollbar-width: thin;
  scrollbar-color: #222 ;
}